<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="codecanyon.jagatpharma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="codecanyon.jagatpharma.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- start internet connection receiver -->
        <receiver
            android:name="util.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- end internet connection receiver -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ImagePickerActivity"></activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"

            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
        <service
            android:name="fcm.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="codecanyon.jagatpharma.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="codecanyon.jagatpharma.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="codecanyon.jagatpharma.Producat_detailActivity" />
        <activity
            android:name="codecanyon.jagatpharma.Prescription_listActivity"
            android:label="@string/prescription"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="codecanyon.jagatpharma.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="codecanyon.jagatpharma.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="codecanyon.jagatpharma.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="codecanyon.jagatpharma.Upload_prescriptionActivity"
            android:label="@string/upload_prescription" />
        <activity
            android:name="codecanyon.jagatpharma.Medical_productActivity"
            android:label="@string/medical_product" />
        <activity android:name="codecanyon.jagatpharma.Medical_product_listActivity" />
        <activity
            android:name="codecanyon.jagatpharma.SearchActivity"
            android:label="@string/app_name" />
        <activity
            android:name="codecanyon.jagatpharma.CartActivity"
            android:label="@string/cart" />

        <activity
            android:name="codecanyon.jagatpharma.ReOrderCartActivity"
            android:label="@string/re_order" />
        <activity
            android:name="codecanyon.jagatpharma.EditMedicine"
            android:label="Enquiry" />
        <activity
            android:name="codecanyon.jagatpharma.Edit_profileActivity"
            android:label="@string/edit_profile" />
        <activity
            android:name="codecanyon.jagatpharma.Change_passwordActivity"
            android:label="@string/change_password" />
        <activity
            android:name="codecanyon.jagatpharma.Add_delivery_addressActivity"
            android:label="@string/delivery_address" />
        <activity
            android:name="codecanyon.jagatpharma.Confirm_detailActivity"
            android:label="@string/confirm_detail" />
        <activity
            android:name="codecanyon.jagatpharma.Delivery_addressActivity"
            android:label="@string/delivery_address" />
        <activity
            android:name="codecanyon.jagatpharma.Payment_detailActivity"
            android:label="@string/payment" />
        <activity
            android:name="codecanyon.jagatpharma.OffersActivity"
            android:label="@string/offer" />
        <activity android:name="codecanyon.jagatpharma.Offers_detailActivity" />
        <activity
            android:name="codecanyon.jagatpharma.Thanks_orderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="codecanyon.jagatpharma.My_orderActivity"
            android:label="@string/my_orders" />
        <activity android:name="codecanyon.jagatpharma.My_order_detailActivity" />
        <activity
            android:name="codecanyon.jagatpharma.My_prescriptionActivity"
            android:label="@string/upload_prescription" />
        <activity android:name="codecanyon.jagatpharma.My_prescription_viewActivity" />
        <activity
            android:name="codecanyon.jagatpharma.NotificationActivity"
            android:label="@string/notification" />
        <activity android:name="codecanyon.jagatpharma.Notification_detailActivity" />
    </application>

</manifest>